.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: burlywood;
    padding: 20px;
}

.dashboardTitle {
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.logoutButton {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000;
  }
  
  .logoutButton:hover {
    background-color: #c82333; 
  }
 
  @media (max-width: 768px) {
    .logoutButton {
      top: 10px;
      right: 10px;
      padding: 8px 16px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .logoutButton {
      top: 5px;
      right: 5px;
      padding: 6px 12px;
      font-size: 10px;
    }
  }

.outputBox {
    width: 80%;
    max-width: 600px;
    background: #f1f3f5;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.outputTitle {
    font-size: 16px;
    font-weight: bold;
    color: #495057;
    margin-bottom: 8px;
}

.outputText .outputSentenceTitle{
    font-size: 14px;
    color: #495057;
}
.outputSentenceTitle{
    font-weight: bold;
    color: #495057;
}

.highlight {
    color: red;
    font-weight: bold;
}

.inputBox {
    width: 80%;
    max-width: 600px;
    height: 80px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    font-size: 14px;
    color: #495057;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.inputBox:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.checkGrammarButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkGrammarButton:hover {
    background-color: #0056b3;
}

.outputCorrectedSentence{
    color: green;
}

.historyBox {
    width: 80%;
    max-width: 600px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 15px;
    background: #f1f3f5;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.historyMessage {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.4;
}

.returnMessage {
    background: #e9ecef;
    color: black;
    align-self: flex-start;
    text-align: left;
    border-bottom-left-radius: 0;
}

.saveButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
